html, body {
    height: 100%;
}
body {
    font-family: 'Open Sans';
    /*font-weight: 300;*/
    /* background: #464545; */
    /*background: rgba(237,237,237,1);
    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );*/
    background-color: #2f2f2f;
    padding-top: 20px;
    padding-bottom: 20px;
}

* {
    font-family: 'Open Sans';
}

.background-image {
    min-height: 500px;
}

.content {
	min-height: 400px;
	padding: 30px;
	background-color: #ffffff;
}


.navbar-default .navbar-nav>li>a {
    color: #333333;
    font-size: 18px;
    font-weight: 600;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #2374ff;
}

.navbar-default .navbar-nav>li.active{
    color: #2374ff;
    
}

.navbar.navbar-default.navbar-bottom {
    font-size: 13px;
    height: 80px;
    border: none;
    border-top: 1px solid #e7e7e7;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar.navbar-default.navbar-bottom .container-fluid .pull-left {
    margin-top: 25px;
}

.navbar.navbar-default.navbar-bottom .container-fluid .pull-right {
    margin-top: 10px;
}

.footer-icons {
    font-size: 22px;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #9D6ABC;
    background-color: #f6f9fb;
    border-left: 2px solid #9D6ABC;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.info-panel.panel-heading {
    border-bottom: solid 5px #9257B6;
    background-color: rgb(237, 237, 237);
    color: black;
}

.fa.fa-spinner {
    margin-right: 4px;
    font-size: 19px;
    color: #2374ff;
    animation: fa-spin 4s infinite;
}

img.img-profile {
    border: 3px solid #2374ff;
    border-radius: 20px;
}

.website-name {
    background-color: #464545;
    color: #fff;
    padding: 5px;
    font-weight: bold;
}

/*Form Wizard*/
.bs-wizard {margin-top: 40px;}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 25px 0; margin-bottom: 40px;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #464545; font-size: 18px; font-weight: 400 bold; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 12px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #1755b7; top: 45px; left: 50%; margin-top: -10px; margin-left: -10px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot-success {position: absolute; width: 30px; height: 30px; display: block; background: #5CB85C; top: 45px; left: 50%; margin-top: -10px; margin-left: -10px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot-success:after {content: ' '; width: 14px; height: 14px; background: #fff; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fff; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #464545;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

.collage {
    margin-top:40px;    
}

/* Social Media */
.facebook {	color: #3280e7; }
.facebook:hover { color: #134fa0; }
.twitter { color: #32c8de;}
.twitter:hover {	color: #188392;}
.google-plus {color: #f96f4a;}
.google-plus:hover {	color: #eb6440;}
.linkedin  {	background: #729fda;}
.linkedin:hover {background: #3069b6;}
.pinterest {	background: #ed5441;}
.pinterest:hover { background: #b72411;}
.dropbox {background: #32c8de;}
.dropbox:hover {	background: #188392;}
.bitcoin {background: #f8a841;}
.bitcoin:hover {	background: #cc7607;}
.foursquare {background: #22bed4;}
.foursquare:hover {background: #146f7c;}
.flickr { background: #ff61e7;}
.flickr:hover {	background: #fa00d4;}
.github {background: #666666;}
.github:hover {	background: #333333;}
.instagram {	color: #d6917a;}
.instagram:hover {color: #b35637;}
.skype {background: #32c8de;}
.skype:hover {background: #188392;}
.tumblr {background: #84a1c8;}
.tumblr:hover {background: #476d9f;}
.vimeo {background: #32c8de;}
.vimeo:hover {background: #188392;}
.dribbble{background: #ff2edf;}
.dribbble:hover {background: #c700a9;}
.youtube {color: #ed5441;}
.youtube:hover {	color: #b72411;}

.ui-44{
	margin:170px 0px;
}
.social-collage .social-container {
	position: relative;
	max-width: 180px;
	height: 100px;
	margin: 100px auto;
}
.social-collage .social-item {
	position: absolute;
	text-align: center;
	border: 1px solid #fff;
	-webkit-transition: all 0.35s ease-out;
	   -moz-transition: all 0.35s ease-out;
			transition: all 0.35s ease-out;
}
.social-collage .social-item i { color: #fff; }
.social-collage .facebook { 
	top: 0;
	left: 0;
	z-index: 115;
	width: 180px;
	height: 200px;
	color: #fff;
	font-size: 100px;
	line-height: 200px;
}
.social-collage .google-plus {
	top: 100%;
	left: 100%;
	z-index: 6;
	width: 90px;
	height: 100px;
	line-height: 100px;
	margin-left: -40px;
	font-size: 50px;
}
.social-collage .linkedin {
	top: 100%;
	right: 40px;
	z-index: 7;
	width: 87px;
	height: 110px;
	font-size: 40px;
	line-height: 110px;
}
.social-collage .twitter {
	top: 20px;
	right: 100%;
	z-index: 8;
	width: 120px;
	height: 130px;
	font-size: 50px;
	line-height: 130px;
}
.social-collage .pinterest {
	bottom: 100%;
	right: 100%;
	z-index: 9;
	width: 80px;
	height: 90px;
	margin-bottom: -20px;
	font-size: 35px;
	line-height: 90px;
}
.social-collage .github {
	bottom: 0;
	left: 100%;
	z-index: 10;
	width: 80px;
	height: 80px;
	font-size: 35px;
	line-height: 80px;
}
.social-collage .instagram {
	bottom: 80px;
	left: 100%;
	z-index: 10;
	width: 130px;
	height: 150px;
	font-size: 80px;
	line-height: 150px;
}
.social-collage .flickr {
	bottom: 100%;
	left: 0;
	z-index: 11;
	width: 120px;
	height: 120px;
	font-size: 50px;
	line-height: 120px;
}
.social-collage .youtube {
	top: 150px;
	right: 100%;
	z-index: 10;
	margin-right: -53px;
	width: 150px;
	height: 170px;
	font-size: 80px;
	line-height: 170px;
}
.social-collage .bitcoin {
	bottom: 100%;
	right: 0px;
	z-index: 10;
	width: 64px;
	height: 80px;
	line-height: 80px;
	font-size: 27px;
}
/* Mobile phones */
@media (max-width: 480px){
	.social-collage .social-container  {
		max-width: 250px !important;
	}
	.social-collage .social-item { 
		margin-bottom: 0px !important;
		margin-left: 0px !important;
		width: 49% !important; 
	}
}
/* Tablets */
@media (max-width: 767px){
	.social-collage .social-container  {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		height: auto;
	}
	.social-collage .social-item {
		position: static;
		display: inline-block;
		width: 24%;
		height: auto;
		font-size: 50px;
		line-height: 80px;
		margin: 0 auto;
		margin-top: 3px;
		padding: 20px 0;
	} 
}

/*
.home_stats .metrics {
  margin-bottom: 10px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  border-radius: 2px; }
  .home_stats .metrics .metric {
    float: left;
    width: 25%;
    padding: 23px 0;
    text-align: center;
    border-right: 1px solid #e7e7e7; }
    @media (max-width: 767px) {
      .home_stats .metrics .metric {
        width: 50%; } }
    .home_stats .metrics .metric .field {
      color: #000;
      margin-bottom: 9px;
      display: inline-block;
      font-size: 14px; }
      @media (max-width: 991px) {
        .home_stats .metrics .metric .field {
          font-size: 14px; } }
    .home_stats .metrics .metric .data {
      display: block;
      color: #000;
      font-size: 27px;
      font-weight: bold; }
      @media (max-width: 991px) {
        .home_stats .metrics .metric .data {
          font-size: 21px; } }

.stats_overview .metrics {
  margin-bottom: 10px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  border-radius: 2px; }
  .stats_overview .metrics .metric {
    float: left;
    width: 40%;
    padding: 23px 0;
    text-align: center;
    border-right: 1px solid #e7e7e7; }
    @media (max-width: 767px) {
      .stats_overview .metrics .metric {
        width: 40%; } }
    .stats_overview .metrics .metric .field {
      color: #000;
      margin-bottom: 9px;
      display: inline-block;
      font-size: 14px; }
      @media (max-width: 991px) {
        .stats_overview .metrics .metric .field {
          font-size: 14px; } }
    .stats_overview .metrics .metric .data {
      display: block;
      color: #000;
      font-size: 22px;
      font-weight: bold; }
      @media (max-width: 991px) {
        .stats_overview .metrics .metric .data {
          font-size: 18px; } }
*/

.fa.fa-spinner {
    margin-right: 4px;
    font-size: 19px;
    color: #2374ff;
    animation: fa-spin 4s infinite;
}


.spinner {
    padding: 20px;
    font-size: 20px;
}

.navbar-collapse {
    border-top: none;
    border-bottom: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #2374ff;
    background-color: transparent;
}

.navbar-brand {
    padding:5px;
    margin:0;
}

.down-logo {
    width:210px;
    height:40px;
}

legend {
    padding: 7px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.nav-pills > li > a {
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.71);
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #2374ff;
}


.btn-primary {
    background: #2374ff;
    color: #ffffff;
    border: none;
}
.btn-primary:hover,
.btn-primary:active {
    color: #ffffff;
    background: #1755b7;
    border: none;
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.login-panel {
    margin-top: 10%;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel .panel-heading {
    border-color: #464545;
    background-color: #464545;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    padding-left:7px;
}

/*
    Top user bar.

*/

.well {
    margin-top: 20px;
    background-color: #2374ff;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
}

.well:hover {
    margin-top: 20px;
    background-color: #522E69;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    padding: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.65);
    border-top: 2px solid rgba(0, 0, 0, 0.65);
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 10px;
}

.social-image {
    margin: 0;
}

.bg_blur {
    height: 245px;
    background-size: cover;
}

.header {
    color: #464545;
    margin-left: 3%;
}

.picture{
    height:150px;
    width:150px;
    position:absolute;
    top: 75px;
    left:-75px;
}

.btn-style{
    color: #fff;
    background-color: #007FBE;
    border-color: #adadad;
    width: 33.3%;
}

.btn-style:hover {
    color: #333;
    background-color: #3D5DE0;
    border-color: #adadad;
    width: 33.3%;
   
}


@media (max-width: 767px) {
    .header{
        text-align : center;
    }
}

.center h2 {
    margin-top: 0;
}

.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  background-color: #ECF0F0;
}
.jumbotron p {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 200;
}
.jumbotron .center {
    text-align: center;
}
.jumbotron .description {
    white-space: pre-wrap;
    font-weight: 700;
    font-size: 16px;
}
.jumbotron .requirements {
    white-space: pre-wrap;
    font-weight: 400;
    font-size: 14px;
}
.jumbotron .btn {
  padding: 12px 22px;
  font-size: 18px;
}

.highlight_row.blue {
    background-color: #aacbff;
    padding: 5px;
}

.lander-image {
    width: 250px;
    height: 250px;
}